<div class="full-width">
  <mat-form-field appearance="fill">
    <mat-label>Enter classes to add to your schedule</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input type="text"
           placeholder="COEN 10"
           aria-label="Enter classes to add to your schedule"
           matInput
           [(ngModel)]="rawInput"
           [formControl]="myControl"
           (submit)="makeQuery()"
           (keydown.enter)="makeQuery()"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value" (click)="optionClicked(option.value)">
        {{option.label}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="quarter-select">
    Quarter: 
    <mat-select [(ngModel)]="selectedQuarter" (selectionChange)="changeQuarter()">
      <mat-option *ngFor="let quarter of quarters" [value]="quarter.value">
        {{quarter.label}}
      </mat-option>
    </mat-select>
  </div>

</div>
<!-- <input [(ngModel)]="rawInput" type='text' (submit)="makeQuery()"> -->
<!-- <button (click)="makeQuery()">Fetch classes</button> -->
<main>
  <div class='configure'>
    <mat-list>
      <button mat-raised-button color='primary' (click)="showExport = true">Export Course Numbers</button>
      <h1>Configure</h1>
      <mat-list-item>
        <mat-checkbox [(ngModel)]="includeWeekends">Show Weekends</mat-checkbox>
      </mat-list-item>
      <h3>Show/Hide Classes:</h3>
      <mat-list-item *ngFor="let course of coursesArr">
        <mat-checkbox [(ngModel)]="courses[course]" (change)="updateEvents()">{{course}}</mat-checkbox>
        <button mat-icon-button (click)='removeCourse(course)'>
          <mat-icon>cancel</mat-icon>
        </button><br>
      </mat-list-item>
      <h3>Custom Items:</h3>
      <mat-list-item *ngFor="let course of customList">
        {{course.subject}}
        <button mat-icon-button (click)='removeCustom(course)'>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-list-item>
      <button mat-raised-button color='primary' (click)="openPopup()">Add Custom Item</button>
    </mat-list>
    <!-- <div style="display: none">
      <h4>Earliest start:</h4>
      <input type="time" [(ngModel)]="selectionSettings.earliest">
      <h4>Latest end:</h4>
      <input type="time" [(ngModel)]="selectionSettings.latest">
      <h4>Preferred time:</h4>
      <mat-select [(ngModel)]="selectionSettings.preferredTime">
        <mat-option *ngFor="let time of preferredTimes" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </div> -->
  </div>
  <mwl-calendar-week-view
  [viewDate]="viewDate"
  (eventClicked)="eventClicked($event)"
  [events]="events"
  [dayStartHour]="7"
  [dayStartMinute]="0"
  [dayEndHour]="21"
  [dayEndMinute]="59"
  [tooltipTemplate]="tooltipTemplate"
  [excludeDays]="includeWeekends ? [] : [0,6]"
></mwl-calendar-week-view>
</main>
<div class="popup" *ngIf="showPopup">
  <app-popup [closePopup]="closePopup" [addItem]="createCustom"></app-popup>
</div>
<div class="popup" *ngIf="showExport">
  <div>
    <h3>Course Number List</h3>
    <p *ngIf="getSelected().length == 0">No courses selected</p>
    <p *ngFor="let course of getSelected()">
      {{course.class_nbr}} ({{getCourseName(course)}} - {{course.class_descr}})
    </p>
    <button mat-raised-button (click)="showExport = false">Close</button>
  </div>
</div>

<ng-template #tooltipTemplate let-event="event">
  <div class='tooltip'>
    <div class="smaller">
    {{event.title}} 
    <span *ngIf="!event.meta.isCustom">({{event.meta.name}})</span><br>
    {{event.meta.time}}<br>
    <ng-container *ngIf="!event.meta.isCustom">
      {{event.meta.prof}}<br>
      {{event.meta.seats}} Seats<br>
      {{event.meta.loc}}<br>
      Section {{event.meta.section}}<br>
    </ng-container>
      </div>
  </div>
</ng-template>