main{
    display: grid;
    grid-template-columns: 200px auto;
}

.configure{
    margin-left: 10px;
    overflow-y: scroll
}
.tooltip{
    background-color: rgba(0,0,0,0.6);
    padding: 5px;
    color: white;
    border-radius: 5px;
    z-index: 100;
    .smaller{
        font-size: 0.8em;
    }
}

.full-width{
    display: grid;
    grid-template-columns: auto 150px;
    margin: 5px;
    mat-form-field{
        width: calc(100vw - 180px);
    }
}

.popup{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 100;
}
.quarter-select{
    margin-top: 10px;
}