main{
    display: grid;
    grid-template-columns: 200px auto;
}

.configure{
    overflow-y: scroll
}
.tooltip{
    background-color: rgba(0,0,0,0.6);
    padding: 5px;
    color: white;
    border-radius: 5px;
    z-index: 100;
    .smaller{
        font-size: 0.8em;
    }
}

.full-width{
    width: 100%;
    margin: 5px;
    mat-form-field{
        width: calc(100vw - 10px);
    }
}