
<input [(ngModel)]="rawInput" type='text' (submit)="makeQuery()">
<button (click)="makeQuery()">Fetch classes</button>
<main>
  <div class='configure'>
    <h1>Configure</h1>
    <h4>Show/Hide classes:</h4>
    <div *ngFor="let course of coursesArr">
      <input type="checkbox" [(ngModel)]="courses[course]" (change)="updateEvents()">
      {{course}}
      <button mat-icon-button (click)='removeCourse(course)'>
        <mat-icon>cancel</mat-icon>
      </button><br>
    </div>
  </div>
  <mwl-calendar-week-view
  [viewDate]="viewDate"
  (eventClicked)="eventClicked($event)"
  [events]="events"
  [dayStartHour]="7"
  [dayStartMinute]="0"
  [dayEndHour]="21"
  [dayEndMinute]="59"
  [tooltipTemplate]="tooltipTemplate"
></mwl-calendar-week-view>
</main>

<ng-template #tooltipTemplate let-event="event">
  <div class='tooltip'>
      {{event.meta.section}}
  </div>
</ng-template>