
<input [(ngModel)]="rawInput" type='text' (submit)="makeQuery()">
<button (click)="makeQuery()">Fetch classes</button>
<main>
  <div class='configure'>
    <h1>Configure</h1>
    <h4>Show/Hide classes:</h4>
    <div *ngFor="let course of coursesArr">
      <input type="checkbox" [(ngModel)]="courses[course]" (change)="updateEvents()">
      {{course}}
      <button mat-icon-button (click)='removeCourse(course)'>
        <mat-icon>cancel</mat-icon>
      </button><br>
    </div>
    <div>
      <h4>Earliest start:</h4>
      <input type="time" [(ngModel)]="selectionSettings.earliest">
      <h4>Latest end:</h4>
      <input type="time" [(ngModel)]="selectionSettings.latest">
      <!-- Dropdown for preferredTime: morning, afternoon, evening -->
      <h4>Preferred time:</h4>
      <mat-select [(ngModel)]="selectionSettings.preferredTime">
        <mat-option *ngFor="let time of preferredTimes" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <mwl-calendar-week-view
  [viewDate]="viewDate"
  (eventClicked)="eventClicked($event)"
  [events]="events"
  [dayStartHour]="7"
  [dayStartMinute]="0"
  [dayEndHour]="21"
  [dayEndMinute]="59"
  [tooltipTemplate]="tooltipTemplate"
></mwl-calendar-week-view>
</main>

<ng-template #tooltipTemplate let-event="event">
  <div class='tooltip'>
    <div class="smaller">
    {{event.title}}<br>
      {{event.meta.section}}<br>
        {{event.meta.prof}}<br>
        {{event.meta.seats}} Seats<br>
        {{event.meta.loc}}<br>
      </div>
  </div>
</ng-template>